<div class="flex flex-col items-center justify-center pb-6">
    <div class="flex flex-row items-center justify-center pb-4">
        <span>Built by </span> <img class="w-8 rounded-full mx-2" src="/assets/images/moonbird_6474.png"
            alt="Moonbird #6474"> <a class="text-link-purple hover:text-black hover:underline"
            href="https://twitter.com/vgomes_eth" target="_blank">vgomes_eth</a>
    </div>
    <div>
        <span>Need Web3 Devs &nbsp;&#8212;&nbsp; Checkout </span> <a
            class="text-link-purple hover:text-black hover:underline" href="https://lualabs.xyz" target="_blank">Lua
            Labs</a>
    </div>
</div>