.search-icon {
    position: absolute;
    z-index: 1;
    width: 24px;
    height: 24px;
    top: 8px;
    left: 8px;
    opacity: .5;

    &:hover {
        opacity: .75;
    }

    &:active {
        opacity: 1;
    }
}

.input-box {
    padding: 8px;
    padding-left: 40px;
    border-radius: 6px;
    border: 1px solid #dadae8;
    outline: none;
    color: #21212e;

    &:hover {
        border-color: #727285;
    }

    &:active, &:focus {
        border-color: #8e4fdb;
    }
}

.search-button {
    background-color: #8e4fdb;
    color: #fbfbfd;
    display: inline-flex;
    padding: 8px 16px;
    font-size: 16px;
    line-height: 24px;
    gap: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 0.375rem;
    font-weight: 600;
    letter-spacing: .02rem;
    text-align: center;
    transition-property: color,background-color,box-shadow,opacity;
    transition-duration: .1s;
    transition-timing-function: ease-in-out;
    white-space: nowrap;

    &:hover {
        background-color: #21212e;
    }

    &:active {
        background-color: #7439b8;
    }
}