<div class="flex flex-col items-center justify-center h-screen">
    <input type="text" [(ngModel)]="inputText" placeholder="Enter token ID"
        class="px-4 py-2 text-lg text-gray-700 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
    <button (click)="submit()"
        class="px-4 py-2 mt-2 text-lg text-white bg-blue-500 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
        Submit
    </button>
    <div *ngIf="notValidId" class="mt-2 text-lg text-red-500">
        Not a valid token ID
    </div>
    <div *ngIf="tokenID" class="mt-8 text-center">
        <p class="text-5xl font-bold text-gray-700">
            Moonbird: {{ tokenID }}
        </p>
    </div>
    <div *ngIf="moonbirdImg !== ''" class="mt-8 text-center">
        <p *ngIf="isNudebird; else notNudebird" class="text-lg font-bold text-green-500">
            Nudebird
        </p>
        <ng-template #notNudebird>
            <p class="text-lg font-bold text-red-500">
                Not Nudebird
            </p>
        </ng-template>
    </div>
    <div *ngIf="moonbirdImg !== ''" class="mt-8">
        <img [src]="moonbirdImg" alt="" class="w-56 border border-gray-300 shadow-md rounded-lg">
    </div>
</div>